.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

//.navbar {
  //background-color: white;
  //padding: 5px 70px;
  // img {
    // width: 60px;
  //}
  //color: black;
  //&hover {
    //pICK A NICER COLOUR
    //color: orange;
// commented out as I'm not sure if it works
  //}
//}
