<!-- I would like a navbar with two links here-->

<!--  <div class = "banner">
    <div>
      <h1>BANNER</h1>
      <h3>save your favourite recipes</h3>
    </div>
  </div>
-->
<div><h1>recipe categories</h1></div>
<div>
  <ul>
    <% @categories.each do |category|%>
      <%= link_to "Choose:", category_path(category.id) %>
      <li>
        <%= category.name %>
      </li>
    <% end %>
  </ul>
</div>
